In [1]:
import glob
import os
import pandas as pd
import numpy as np
import warnings

warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
df = pd.read_csv('../外部資料集/fire_department.csv', encoding='BIG5')
df.rename(columns={
    '消防隊名稱': 'name',
    '地址': 'address',
    'Y座標_TWD97TM121': 'lat',
    'X座標_TWD97TM121': 'lon',
}, inplace=True)

use_cols = ['name', 'address', 'lat', 'lon']
df[use_cols].to_csv('../官方資料集/external_data/fire_department.csv', index=False, encoding='utf-8')

In [3]:
df[use_cols].describe()

              lat         lon
count  770.000000  770.000000
mean    23.840359  119.909598
std      2.304594   10.650168
min      0.000000    0.000000
25%     23.170925  120.431057
50%     24.090440  120.732913
75%     24.962897  121.427391
max     26.368358  121.909888