In [1]:
import glob
import os
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import csv
import xml.etree.ElementTree as ET

In [2]:
tree = ET.parse('../外部資料集/gas_station_2.xml')
root = tree.getroot()

In [3]:
stations = []
for child in root:
    station_name = child.find('站名').text
    station_addr = child.find('地址').text
    station_lat = child.find('緯度').text
    station_lon = child.find('經度').text
    stations.append({
        'name': child.find('站名').text,
        'address': child.find('地址').text,
        'lat': child.find('緯度').text,
        'lon': child.find('經度').text,
    })
df_station1 = pd.DataFrame(stations)
df_station1

        name          address         lat          lon
0         台東  豐谷里15鄰中華路二段515號   22.741134   121.131802
1       台糖中興   豐年里1鄰中興路二段717號   22.768814   121.121174
2        山海關     安朔村11鄰復興路37號   22.294666   120.886886
3         全滿       三民里1鄰大同路2號   23.100533   121.367785
4         荒野      美和村8鄰荒野2-2號   22.691124   121.046813
...      ...              ...         ...          ...
1959   龍潭交流道        大昌路一段160號  24.8708125  121.2174381
1960   歐盟長興路      內厝里長興路一段89號  25.0601994  121.2933165
1961   挑戰者中豐       中豐路上林段598號  24.8543658  121.2032269
1962  國際路加油站        國際路一段895號  24.9815445  121.2894116
1963    全宏三站          經國路818號  25.0304073  121.3009393

[1964 rows x 4 columns]

In [4]:
df_station2 = pd.read_csv('../外部資料集/gas_station_1.csv')
df_station2.rename(columns={
    '加油站': 'name',
    '地址': 'address',
    'GPS定位座標北緯度': 'lat',
    'GPS定位座標東經度': 'lon',
}, inplace=True)
df_station2

,name,address,營業時間,電話號碼,lat,lon
0,忠勇站,台中市南屯區忠勇路16之5號,06:30-22:30,(04)23853734,24.135861,120.611870
1,成功嶺站,台中市南屯區忠勇路1號,06:30-21:30,(04)23831479,24.127054,120.607841
2,吉峰站,台中市霧峰區吉峰路225號,06:30-22:30,(04)23305793,24.076597,120.715534
3,鳳凰站,台中市大里區健民里鳳凰路50號,06:30-22:30,(04)24915996,24.095238,120.716690
4,七星站,台中市后里區三豐路3段640號,06:30-22:30,(04)25583711,24.297862,120.723921
...,...,...,...,...,...,...
68,大進站,花蓮縣光復鄉中山路一段232號,06:30-21:30,(038)705800,23.653471,121.417794
69,萬里站,花蓮縣鳳林鎮長橋里長橋路118號,06:30-21:30,(038)752888,23.714572,121.422376
70,中興站,台東縣台東市豐年里中興路二段717號,07:00-22:00,(089)233735,22.768708,121.121383
71,中興二站,台東縣台東市豐里里十七鄰臨海路三段431號,06:30-21:30,(089)358360,22.727690,121.118440
72,鳳仁站,高雄市仁武區灣內里鳳仁路102號,06:30-22:30,(07)3725141,22.690580,120.351160

In [5]:
use_cols = ['name', 'address', 'lat', 'lon']
df_station = pd.concat([df_station1[use_cols], df_station2[use_cols]]).reset_index(drop=True)

In [6]:
df_station['lat'] = df_station['lat'].astype(float)
df_station['lon'] = df_station['lon'].astype(float)
df_station.describe()

               lat          lon
count  2037.000000  2037.000000
mean     23.899974   120.773780
std       0.877397     0.514586
min      21.943975   118.240689
25%      23.054105   120.383762
50%      23.977346   120.652778
75%      24.800278   121.213412
max      26.159800   121.988973

In [7]:
df_station.to_csv('../官方資料集/external_data/gas_staion.csv', index=False, encoding='utf-8')